* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h1 {
  border-radius: 5px;
  font-size: 40px;
  background-color: rgb(255, 0, 0);
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
